.u-block-9673-2 {
  position: absolute;
  top: auto;
  bottom: 0;
}

.u-block-9673-5 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 0;
}

.u-block-9673-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  padding: 0;
}

 .u-section-1-1 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-2 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-3 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-4 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-5 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-6 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-7 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-8 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-8 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-9 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-9 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 276px;
  }
}

 .u-section-1-10 {
  background-image: url("https://cdn.magicdecor.in/com/2023/02/29230632/image-1683285579-9869-710x488.jpg");
  background-position: 50% 50%;
}

.u-section-1-10 .u-sheet-1 {
  min-height: 573px;
}

@media (max-width: 1199px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 276px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 455px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 40px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 69px;
  height: 69px;
  margin: -92px auto 0 719px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  width: 781px;
  margin: 42px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 251px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 620px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 65px 80px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 141px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 52px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -93px;
    margin-left: 420px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 13px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -73px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 47px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 99px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 241px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: -743px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(4, calc(25% - 5px));
  min-height: 241px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 146px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 99px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 241px;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: -743px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 241px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 146px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 99px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-block-6193-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6193-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 518px);
  width: 42px;
  height: 42px;
  top: 0;
  right: auto;
  padding: 0;
}

.u-block-6193-4 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: auto;
  top: 0;
  right: calc(((100% - 1140px) / 2)  + 518px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-6193-3 {
    left: calc(((100% - 940px) / 2)  + 418px);
  }

  .u-block-6193-4 {
    right: calc(((100% - 940px) / 2)  + 418px);
  }
}

@media (max-width: 991px) {
  .u-block-6193-3 {
    left: calc(((100% - 720px) / 2)  + 308px);
  }

  .u-block-6193-4 {
    right: calc(((100% - 720px) / 2)  + 308px);
  }
}

@media (max-width: 767px) {
  .u-block-6193-3 {
    left: calc(((100% - 540px) / 2)  + 218px);
  }

  .u-block-6193-4 {
    right: calc(((100% - 540px) / 2)  + 218px);
  }
}

@media (max-width: 575px) {
  .u-block-6193-3 {
    left: calc(((100% - 340px) / 2)  + 118px);
  }

  .u-block-6193-4 {
    right: calc(((100% - 340px) / 2)  + 118px);
  }
}


.u-section-8-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-8-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 51px;
}

.u-section-8-1 .u-image-1 {
  min-height: 466px;
  background-image: url("https://dq5r178u4t83b.cloudfront.net/wp-content/uploads/sites/125/2020/06/15182916/Sofitel-Dubai-Wafi-Luxury-Room-Bedroom-Skyline-View-Image1_WEB.jpg");
  background-position: 5.2% 50%;
  background-size: cover;
}

.u-section-8-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8-1 .u-layout-cell-2 {
  min-height: 466px;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-8-1 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-8-1 .u-group-1 {
  min-height: 50px;
  height: auto;
  width: 255px;
  --radius: 5px;
  margin: 0 auto 0 0;
}

.u-section-8-1 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 10px;
  color: #fff;
}

.u-section-8-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 23px auto 0 0;
}

.u-section-8-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-8-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 56px auto 0 0;
}

.u-section-8-1 .u-text-5 {
  padding-left: 15px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8-1 .u-btn-1 {
  background-image: none;
  --radius: 5px;
  font-weight: 700;
  margin: 51px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 393px;
    background-position: 74.32% 50%;
    background-repeat: no-repeat;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-8-1 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 18px;
  }

  .u-section-8-1 .u-group-1 {
    width: 260px;
    margin-left: 1px;
    height: auto;
  }

  .u-section-8-1 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-8-1 .u-text-3 {
    width: auto;
    margin-left: 1px;
  }

  .u-section-8-1 .u-text-4 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-8-1 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8-1 .u-btn-1 {
    margin-top: 19px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 380px;
    background-position: 50% 50%;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-8-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .u-section-8-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8-1 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-8-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-8-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-8-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 441px;
  }

  .u-section-8-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-8-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8-1 .u-group-1 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-8-1 .u-text-2 {
    margin-top: 37px;
    margin-right: 200px;
    margin-left: 2px;
  }

  .u-section-8-1 .u-text-3 {
    margin-top: 5px;
    margin-left: 2px;
  }

  .u-section-8-1 .u-text-4 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-8-1 .u-text-5 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 2px;
  }

  .u-section-8-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-8-1 .u-image-1 {
    min-height: 278px;
  }

  .u-section-8-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-8-1 .u-group-1 {
    width: 261px;
  }

  .u-section-8-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-8-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-8-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-8-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-8-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 11px;
  }

  .u-section-8-1 .u-btn-1 {
    margin-top: 13px;
  }
}



.u-section-9 {
  min-height: 496px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 496px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 40px 40px 2px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 380px;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-9 .u-icon-1 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -29px 4px 0 45px;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-9 .u-icon-3 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -29px 4px 0 45px;
}

.u-section-9 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-9 .u-icon-4 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -29px 4px 0 45px;
}

.u-section-9 .u-text-7 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-9 .u-btn-2 {
  letter-spacing: 1px;
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 496px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 460px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 6px;
    margin-left: -1px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 11px;
    margin-left: 39px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-9 .u-icon-3 {
    margin-top: 6px;
    margin-left: -1px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 11px;
    margin-left: 39px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-9 .u-icon-4 {
    margin-top: 6px;
    margin-left: -1px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: 11px;
    margin-left: 39px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 450px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 16px;
    margin-left: 34px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 16px;
    margin-left: 34px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 16px;
    margin-left: 34px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 352px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1028px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-icon-1 {
    height: 36px;
    width: 36px;
    margin-top: 15px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-right: 20px;
    margin-left: 46px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 11px;
    margin-right: 53px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-icon-3 {
    height: 36px;
    width: 36px;
    margin-top: 15px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-right: 20px;
    margin-left: 46px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 11px;
    margin-right: 53px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-icon-4 {
    height: 36px;
    width: 36px;
    margin-top: 15px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-right: 20px;
    margin-left: 46px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 11px;
    margin-right: 53px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 754px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-9 .u-list-1 {
    width: 341px;
    margin: 15px auto -15px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 383px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 0;
    margin-left: 4px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -35px;
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 14px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-9 .u-icon-3 {
    margin-top: 0;
    margin-left: 4px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -35px;
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 14px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-9 .u-icon-4 {
    margin-top: 0;
    margin-left: 4px;
  }

  .u-section-9 .u-text-6 {
    margin-top: -35px;
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 14px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 355px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 99px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 126px;
}

.u-section-11 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-11 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 126px;
  grid-gap: 10px;
}

.u-section-11 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-11 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 13px;
  }
}


/* Room Gallery CSS */

.u-section .u-sheet-1 {
  min-height: 660px;
  margin-bottom: 0;
}

.u-section .u-gallery-1 {
  height: 632px;

}

.u-section .u-carousel-item-1 {
  margin-right: 0;
}

.u-section .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section .u-carousel-item-2 {
  margin-right: 0;
}

.u-section .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section .u-carousel-item-3 {
  margin-right: 0;
}

.u-section .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section .u-carousel-item-4 {
  margin-right: 0;
}

.u-section .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section .u-carousel-item-5 {
  margin-right: 0;
}

.u-section .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section .u-carousel-thumbnails-1 {
  padding-top: 0;
}

.u-section .u-carousel-thumbnail-1 {
  width: 100px;
  height: 70px;
}

.u-section .u-carousel-thumbnail-2 {
  width: 100px;
  height: 70px;
}

.u-section .u-carousel-thumbnail-3 {
  width: 100px;
  height: 70px;
}

.u-section .u-carousel-thumbnail-4 {
  width: 100px;
  height: 70px;
}

.u-section .u-carousel-thumbnail-5 {
  width: 100px;
  height: 70px;
}

.u-section .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
  padding: 8px;
}

.u-section .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  background-image: none;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section .u-sheet-1 {
    min-height: 601px;
  }

  .u-section .u-gallery-1 {
    height: 581px;
  }

  .u-section .u-carousel-control-1 {
    top: 122px;
  }

  .u-section .u-carousel-control-2 {
    top: 122px;
  }
}

@media (max-width: 991px) {
  .u-section .u-sheet-1 {
    min-height: 570px;
  }

  .u-section .u-gallery-1 {
    height: 550px;
  }
}

@media (max-width: 767px) {
  .u-section .u-sheet-1 {
    min-height: 425px;
  }

  .u-section .u-gallery-1 {
    height: 405px;
    margin-bottom: -85px;
  }
}

@media (max-width: 575px) {
  .u-section .u-sheet-1 {
    min-height: 251px;
  }

  .u-section .u-gallery-1 {
    height: 272px;
    margin-bottom: -148px;
  }

  .u-section .u-carousel-thumbnail-1 {
    width: 60px;
    height: 56px;
  }

  .u-section .u-carousel-thumbnail-2 {
    width: 60px;
    height: 42px;
  }

  .u-section .u-carousel-thumbnail-3 {
    width: 60px;
    height: 42px;
  }

  .u-section .u-carousel-thumbnail-4 {
    width: 60px;
    height: 42px;
  }

  .u-section .u-carousel-thumbnail-5 {
    width: 60px;
    height: 42px;
  }
}
